@import "../scss/vars/layout";

.nav-bar {
    background-color: red;
    height: 100%;
}

.link {
    height: $navbar-height;
    line-height: $navbar-height;
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
    color: white;
    text-decoration: unset;
}
