<div class="container">
    <div class="row">
        <div class="col-xs-90 col-xs-offset-5">
            <h3 class="title">Our clients</h3>
            <div class="client-wrapper" *ngFor="let client of clients; trackBy: trackByClientIds">
                <div class="client-name ellipsis-overflow">
                    {{client.lastName}}, {{client.firstName}}
                </div>
                <button class="btn btn-default" (click)="edit($event, client)">Edit</button>
                <button #deleteBtn class="btn btn-danger" (click)="delete($event, client)">Delete</button>
                <a class="btn btn-default" routerLink="/orders" [queryParams]="{id: client.id}">
                    View orders
                </a>
            </div>
            <button class="btn btn-primary" (click)="add($event)">Add client</button>
        </div>
    </div>
</div>